*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    height: 8vh;
    background-color: rgb(145, 98, 255);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2rem 0 2rem;
    gap: 1rem;
    position: relative;
    .cart{
        position: absolute;
        right: 2rem;
        padding: 10px;
        .count{
            position: absolute;
            top: -3px;
            right: 0;
            height: 1.2rem;
            width: 1.2rem;
            background-color: #fff;
            color: rgb(145, 98, 255);
            padding: 1px;
            text-align: center;
            border-radius: 50%;

        }
    }
}
.homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
    gap: 2rem;
    p{
        text-align: center;
        font-weight: 700;
        font-size: 4rem;
    }
    button{
        background-color: rgb(145, 98, 255);
        border: none;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 10px;
        color: #fff;
        font-weight: 700;
    }
}
.menu-container{
    width: 100vw;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 4rem;
}
.menu-item{
    height: 26rem;
    width: 26rem;
    border: 1px solid rgb(145, 98, 255);
    display: flex;
    flex-direction: column;
    .image{
        flex: 1;
        width: 100%;
        height: 13rem;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .details{
        flex: 1;
        height: 100%;
        padding: 1rem;
        gap: 0.5rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .name{
            font-weight: 500;
            font-size: 1.8rem;
        }
        .price{
            font-weight: 400;
            font-size: 1.3rem;
        }
        .btn{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            button{
                width: 4rem;
                height: 2rem;
                font-size: 1.5rem;
            }
        }
    }
}
.checkout-main{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .checkout{
        padding: 1rem;
        background-color: aqua;
        width: 70%;
        height: 20%;
        h1{
            font-size: 2.8rem;
            font-weight: 500;
            text-align: center;
        }
        h3{
            font-size: 2rem;
            font-weight: 300;
        }
    }
}